<!DOCTYPE html>
<html>
    <body>
    <head>
        <meta charset="utf-8">
        <title>My app</title>
        <link rel="stylesheet" href="style.css">
        <nav>
        </head>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Recommend</a></li>
            <li><a href="#">Weekly Recommendations</a></li>
        </ul>
        </nav>
        <p style="text-align:center" color="white">Center this text!</p>

    <h1 class="mainhead" color="white" >Music</h>
    <h1 class="mainhead2">Recommendation</h2>
    <h1 class="mainhead3">App</h3>
    </body>
    <div class="background-img">
        <!-- <img src="C:\Users\DELL\Desktop\my-project\my-app\flask\images\img (1).jpg" alt=""  width=100% height=100%> -->
    </div>
</html>