<!DOCTYPE html>
<html>
    <body>
    <head>
        <meta charset="utf-8">
        <title>My app</title>
        <link rel="stylesheet" href="style.css">
    </head>
        <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Recommend</a></li>
            <li><a href="#">Weekly Recommendations</a></li>
        </ul>
        </nav>
    </body>
    <form class="slider">
        <input type="range" min="1" max="100" value="" class="slider" id="myRange"><br>
        <input type="range" min="1" max="100" value="" class="slider" id="myRange"><br>
        <input type="range" min="1" max="100" value="" class="slider" id="myRange"><br>
        <input type="range" min="1" max="100" value="" class="slider" id="myRange"><br>
        <button type="submit">Go</button>
    </form>
</html>