<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width,initial-scale=1.0">
        <title>My app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <section class="bg">
            <div class="header">
                 <nav>
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('home')}}">About</a></li>
                    <li><a href="{{url_for('recommend_page')}}">Recommend</a></li>
                    <li><a href="{{url_for('discover_page')}}">Discover Weekly</a></li>
                </ul>
                </nav>
            </div>
        <div class="text-box">
            <h1>Music Recommendation App</h1>
            <p></p>
        </div>
        </section>
<section>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <img src="{{ url_for('static', filename='images/music1.svg') }}">
        </div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">1</h2><br>
          <p class="lead">We know how much you love Music and everyone has a favourite song.Wouldn't it be great if you get tons of other songs just like your favourite pick. </p>
        </div>
      </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">2</h2><br>
          <p class="lead">Accurate recommendations based on what you and people around you are listening to this week </p>
        </div>
      </div>
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <img src="{{ url_for('static', filename='images/music2.svg') }}">
        </div>
      </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <img src="{{ url_for('static', filename='images/music3.svg') }}">
        </div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">3</h2><br>
          <p class="lead">Finding your type of music has never been more easy. Customize your Music playlist according to your own choice by changing the values of acousticness ,danceability of song and instrumentalness.</p>
        </div>
      </div>
    </div>
  </main>
  </section>






<!-- contact -->
<div class="footer">
        <section id="contact">
  
            <h1 class="section-header">Contact</h1>
            
            <div class="contact-wrapper">
            
            <!-- Left contact page --> 
              
              <form id="contact-form" class="form-horizontal" role="form">
                 
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                  </div>
                </div>
          
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                  </div>
                </div>
          
                <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                
                <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                  <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                  </div>
                
                </button>
                
              </form>
              
            <!-- Left contact page --> 
              
                <div class="direct-contact-container">
          
                  <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Delhi, India</span></i></li>
                    
                    <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:9953109550" title="Give me a call">+91********</a></span></i></li>
                    
                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:khushipunia21@gmail.com" title="Send me an email">khushipunia21@gmail.com</a></span></i></li>
                    
                  </ul>
          
                  <hr>
                  <ul class="social-media-list">
                    <li><a href="https://github.com/khushipunia21" target="_blank" class="contact-icon">
                      <i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/khushi-punia-7261b5204/" target="_blank" class="contact-icon">
                      <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://twitter.com/khushipunia21" target="_blank" class="contact-icon">
                      <i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#" target="_blank" class="contact-icon">
                      <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>       
                  </ul>
                  <hr>
          
                  <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
          
                </div>
              
            </div>
          </section> 
      </div> 
</body>
</html>
