*{
    margin: 0;
    padding: 0;
}
.bg{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('https://images.unsplash.com/uploads/1411160110892ab555b6f/80b0d25e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000');
  background-position: center;
  background-size: cover;
  position: relative;
}
.header{
    /* min-height: 100vh; */
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}
/* .main_head {
    color: white;
    font-size: 36px
    text-align: center;
} */
.disc h1{
  width: 90%;
  color: black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-family: serif;
  font-style: georgia;
}
.disc form{
  top: 20%;
  left: 50%;
}
.start{
   top:20%;
   left:70%;
   align-items: absolute;
}

nav{
    width: 200%;
    height: 80px;
    background-color:#3b393965 ;
}

h1 {
   font-family: 'Open Sans', sans-serif;
   font-size: 13pt;
   font-weight: 600;
   text-transform: uppercase;
   color: white;
   cursor: default;
}

.sliding-values{
  position: relative;
  top: 0px;
  left: 1150px;
}

h4 {
   font-family: 'Open Sans', sans-serif;
   font-size: 8pt;
   font-weight: 400;
   cursor: default;
   color: white;
}

h2 {
   font-family: 'Open Sans', sans-serif;
   font-size: 13pt;
   font-weight: 300;
   color: white;
   cursor: default;
}
.search-bar h3{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
} 


.button-items {
   margin-left: 180px;
}


.step-backward g polygon:hover, .step-foreward g polygon:hover {
   fill: #EF6DBC;
   cursor: pointer;
}

.social {
   text-align: center;
}

p {
  color: #BDBDBD;
}

/* .nav-links ul li::after{
  content: '';
  width:0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width:100%;
} */

ul {


}

.header ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

.header ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    color: white;
    padding:0;
    padding: 0 20px;
}

.header ul li a:hover{
    color:green;
} */

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* text-align: center; */
}
.text-box h1{
  /* margin-right: -50%; */
  position: absolute;
  font-size: 62px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin: auto;
}
.hero-btn:hover{
  border: 1px solid #04AA6D;
  background: green;
  transition: 1s;
}
@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
}
/*-------about--------*/
.slogan{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: black;
    background-size: cover;
}
.slogan img{
  width:100%;
  height: 100%;
}

.about{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background-color: black;
  background-size: cover;
}

.about h1{
   color: white;
  font-size: 36px;
  font-weight: 600;
}

.about p{
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 5;
  padding: 10px;
}
.row{
   padding: 30px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.feature{
  flex-basis: 31%;
  background: #3E486E;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index:1;
}

.feature p{
   padding: 20px 30px;
   font-family: serif;
  font-style: georgia;
  color: white;
  font-size: 20px;
  font-weight: 50;
  line-height: 2;
  text-align: center;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  font-family: serif;
  font-style: georgia;
  font-size: 30px;
  color: white;
}
.feature:hover{
  box-shadow: white;
  transform: scale(1.2);
}
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}
.mt-3 img {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    display: flex;
    /* border: 5px solid white; */
    display: inline-block;
    margin: 1rem;
    padding:100px;
  }

.mt-3{
  align-items: center;
}
.mt-3 img:hover{
    transform:scale(1.3);
    z-index: 2;
}
  .search-bar{
   width: 100%;
   height: 50px;
   max-width: 500px;
   background: rgba(255,255,255,0.2);
   display: flex;
   border-radius: 60px;
   padding: 10px 20px;
 }
 .search-bar input{
   background: transparent;
   flex: 1;
   border: 0;
   outline: none;
   padding: 24px 20px;
   font-size: 20px;
   color: rgb(201, 232, 245);
 }
 ::placeholder{
   color: grey;
 }
 .search-bar button img{
   width: 50%;
   height: 100%;
 }
 .search-bar button{
   border: 0;
   border-radius: 50%;
   width: 10%;
   height: 80%;
   background: white;
   cursor: pointer;
 }
 nav{
     width: 200%;
     height: 80px;
     background-color:#3b393965 ;
 }
 
 /* .imgs {
     border-radius: 20px;
     width: 300px;
     height: 100px;
   }
 /* .imgs:hover{
     transform:scale(1.3);
     z-index: 2;
 } */
 .slider {
     -webkit-appearance: none;
     width: 20%;
     height: 7px;
     border-radius: 5px;  
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
     margin-top:20px;
     position: right;
   }
   
   .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 15px;
     height: 15px;
     border-radius: 50%; 
     background: #04AA6D;
     cursor: pointer;
   }
   
   .slider::-moz-range-thumb {
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #04AA6D;
     cursor: pointer;
   }
   .slider:hover {
     opacity: 1; /* Fully shown on mouse-over */
   }
   
   body {
    margin: 0;
    padding: 0;
    background-color: #000;
    padding-bottom: 100px;
  }
  
  #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    background-color: #3E486E;
    color: white;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type:none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 62px;
  }
  
  .gmail {
    margin-left: 62px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align:right;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }